<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- Progress Bar -->
                <h4 class="card-title">Progress Bar Info</h4>
                <div class="progress" style="height: 1px;">
                    <div class="progress-bar progress-bar progress-bar-animated bg-info" role="progressbar" [attr.aria-valuenow]="progress1" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" [style.width]="progress1 + '%'"></div>
                </div>
                <br>
                <!-- Progress Bar -->
                <h4 class="card-title">Progress Bar Success</h4>
                <div class="progress" style="height: 40px;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.aria-valuenow]="progress2" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" [style.width]="progress2 + '%'" style="height:40px; padding-top: 12px;">
                        <span class="font-weight-bold">{{ this.progress2 }}%</span>
                    </div>
                </div>
                <br>
                <!-- Progress Bar -->
                <h4 class="card-title">Ejemplos</h4>
                <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<!-- Incluye los botones para cambiar valor  -->
<div class="row ">

    <div class="col-6 ">
        <div class="card ">
            <div class="card-body ">
                <app-change-progress-bar (changeProgressData)="updateProgressValue1( $event )" legend="Progress Azul" [progress]="progress1"></app-change-progress-bar>
            </div>
        </div>
    </div>
    <!-- End col-6 -->

    <div class="col-6 ">
        <div class="card ">
            <div class="card-body ">
                <app-change-progress-bar (changeProgressData)="updateProgressValue2( $event )" legend="Progreso Verde" [progress]="progress2"></app-change-progress-bar>
            </div>
        </div>
    </div>
    <!-- End col-6 -->

</div>
<!-- End row -->